<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <title>{% block title %}{% endblock %} - FlaskCRUD</title>
</head>

<body class="bg-dark">
    <header class="fixed-top">
        <nav class="navbar navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">Navbar</a>
            </div>
        </nav>
    </header>
    <section class="py-5">
        {% block content %}{% endblock %}
    </section>
    <footer class="bg-dark text-light text-center">
        Made by <a href="https://github.com/solcker">Solcker</a>
    </footer>
    <script src=" {{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
</body>
</html>