{% extends 'base_simple.html' %}

{% block title %}Update{% endblock %}

{% block content %}
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                    <h3 class="mb-5">Update</h3>
                    <form method="post">
                        <div class="mb-3">
                            <input type="text" name="title" class="form-control" placeholder="Title" value="{{ request.form['title'] or post['title'] }}" required>
                        </div>
                        <div class="mb-3">
                            <textarea type="text" name="body" class="form-control">{{ request.form['body'] or post['body'] }}</textarea>
                        </div>
                        <input type="submit" class="btn btn-primary" value="Save">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}